
# Acton related files
.acton/
gen/
build/
output/
lcov.info
coverage.txt
libraries.toml
global.libraries.toml

# Mnemonic and wallet files
.env
*.mnemonic
wallets.toml
global.wallets.toml

# Web app
web/node_modules/
web/dist/
web/.vite/
web/output/
